@heypal:registry=https://registry.npmjs.org/

# This is necessary to avoid ending up with multiple copies of React when this
# package is `pnpm link`ed. Having `react` in `peerDependencies` is *not*
# sufficient.
auto-install-peers=false
